<div class="navbar-wagon">
  <h1 class="header">Yelp!</h1>
  <div class="navbar-wagon-right">
    <%= link_to "Add a New Restaurant", new_restaurant_path, class: "navbar-wagon-link" %>
  </div>

</div>

